<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>It's not you <%= @user.firstname %>&nbsp<@user.lastname>, it's me.</h1>
    <p>
      Due to recent account activity, I have decided that you have overstayed your welcome at Rotten Mangoes.<br/>
    </p>
    <p>
      What I am trying to tell you, is that you're account has been deleted - Adios!
    </p>
    <p>Thank you for not replying to this emial address, and even if you did... I don't give a crap!</p>
  </body>
</html>